<div class="container">
  <table class="lb-table">
  <tr>
      <th class="lb-user">User</th>
      <th class="lb-wins-losses-heading">Wins</th>
      <th class="lb-wins-losses-heading">Losses</th>
  </tr>
  <% @users.each do |user| %>
  <tr>

     <td class="leaderboard lb-username"><%= user.username %></td>
     <td class="leaderboard wins-losses-column"><%= user.wins %></td>
     <td class="leaderboard wins-losses-column"><%= user.losses %></td>
  </tr>
  <% end %>

  </table>
</div>
