<h1>Welcome to Let Me Check</h1>

<div class="col-xs-10 col-xs-offset-1">
  <div class="col-xs-offset-2"> <!--this "centers" the board on the page -->
    <% 7.downto(0) do |y| %> <!-- each iteration represents one row of the board. The iteration method is .downto rather than .upto 
    so that the 1st row is the bottom one -->
      
      <% if y % 2 == 0 %>
        
        <% 0.upto(7) do |x| %> <!-- each iteration represents a cell -->
          <% if x % 2 == 0 %>  
            <div class= "booyah-box-cream col-xs-1"><%= "#{y}#{x}" %></div> <!-- row starts with a cream cell -->
          <% else %>
            <div class= "booyah-box-brown col-xs-1"><%= "#{y}#{x}" %></div>
          <% end %>
        <% end %>

      <% else %>

        <% 0.upto(7) do |x| %>
          <% if x % 2 == 0 %> 
            <div class= "booyah-box-brown col-xs-1"><%= "#{y}#{x}" %></div> <!-- row starts with a brown cell -->
          <% else %>
            <div class= "booyah-box-cream col-xs-1"><%= "#{y}#{x}" %></div>
          <% end %>
        <% end %>

      <% end %>

      <div class="clear"></div>
    <% end %>
  </div>
</div>