<div class="messages">
  <div class="sent-messages"></div>
  <input id="text" />
  <button id="chat-button">Submit</button>

  <script>
    $(function() {
      $( '#chat-button' ).click(function() {
        var message = {
          "text" : $( '#text' ).val()
        }

        $.post( "<%= message_url(@game) %>", message, function( data ) {
          console.log( data );
        });
      });
    });
  </script>
</div>
