<!-- <div class="messages">
  <div class="sent-messages"></div>
  <input id="text" />
  <button id="chat-button">Submit</button>

  <script>
    $(function() {
      $( '#chat-button' ).click(function() {
        var message = {
          "text" : $( '#text' ).val()
        }

        $.post( "<%= message_url(@game) %>", message, function( data ) {
          console.log( data );
        });
      });
    });
  </script>
</div> -->


<div class="chat">
  <div class="chat-title">
    <h1><%= @game.other_player %></h1>
    <figure class="avatar">
      <%= image_tag 'vader_chess.png', class: 'img-responsive' %>
    </figure>
  </div>
  <div class="messages">
    <div class="sent-messages mCustomScrollbar update" data-mcs-theme="dark"></div>
  </div>
  <div class="message-box">
    <textarea type="text" class="message-input" placeholder="Type message..."></textarea>
    <button type="submit" class="message-submit">Send</button>
  </div>

  <script>
    $(function() {
      // grab message content
      $( '.message-submit' ).click(sendMessage);

      $(window).on('keydown', function(e) {
        if (e.which == 13) {
          sendMessage();
          return false;
        }
      });

      function sendMessage() {
        msg = $('.message-input').val();
        if ($.trim(msg) == '') {
          return false;
        }

        var message = {
          "text" : msg,
          "date" : setDate()
        };

        // request to Pusher
        $.post( "<%= message_url(@game) %>", message, function( data ) {
          console.log( data );
        });
        $('.message-input').val(null);
      }

      function setDate(){
        var d = new Date();
        var m = d.getMinutes();
        return String(d.getHours()) + ':' + m;
      }
    });

    var $messages = $('.sent-messages');
    
    function updateScrollbar() {
      $messages.mCustomScrollbar("update").mCustomScrollbar('scrollTo', 'bottom', {
        scrollInertia: 10,
        timeout: 0
      });
    }

    $messages.mCustomScrollbar();
    

    function insertMessage() {
      msg = $('.message-input').val();
      if ($.trim(msg) == '') {
        return false;
      }
      $('<div class="message message-personal">' + msg + '</div>').appendTo($('.mCSB_container')).addClass('new');
      setDate();
      // $('.message-input').val(null);
      updateScrollbar();
    }

    // $(function() {
    //   $('.scroll-pane').jScrollPane();
    // });

    // $('.message-submit').click(function() {
    //   insertMessage();
    // });
  </script>

  <script type="text/javascript">
    (function($){
        $(window).on("load",function(){
            $(".sent-messages").mCustomScrollbar();
        });
      })
    (jQuery);
  </script>
</div>
<!-- <div class="bg"></div> -->

<!-- The CSS class messages-content has been changed to sent-messages 

 <img src="/assets/vader_chess.png" />  has replaced the following:
 <img src="http://s3-us-west-2.amazonaws.com/s.cdpn.io/156381/profile/profile-80_4.jpg" />
-->