<p class="boardTopBottom"></p>
<div class="warning text-center">&nbsp</div>
  <table id="board">
    <% 8.downto(1) do |y| %>
      <tr>
        <% 1.upto(8) do |x| %>
        <% piece = @game.pieces.find_by(x_coord: x, y_coord: y) %>
          <td data-x="<%= x %>" data-y="<%= y %>"class="square">
            <% if piece.present? %>
              <%= image_tag(piece.img, 
                            class: "chessPiece img-responsive",
                            "data-update-url" => piece_url(piece)) %>       
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<p class="boardTopBottom"></p>
