<p class="boardTopBottom letter-coordinate"></p>
<div class="warning text-center">&nbsp</div>
  <table id="board">
    <% 8.downto(1) do |y| %>
      <tr>
        <% 1.upto(8) do |x| %>
          <td data-x="<%= x %>" data-y="<%= y %>"class="square">
            <%= game_pieces(@game, x, y) %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<p class="boardTopBottom file-indicator text-center">A B C D E F G H</p>
