<br />
<br />
<% if params[:conceding_player] == current_user.id.to_s %>
  <h1 class="text-center"> You have conceded the game.</h1>
<% else %>
  <h1 class="text-center"> Your opponnent has conceded the game. You have won!</h1>
<% end %>
