<h1>games#show page</h1>
<h2 class="text-center">BoatyMcBoatface vs DarthMaul</h2>
<div class="booyah-box col-xs-10 col-xs-offset-1">
  <p class="boardTopBottom"></p>
  <table>
    <% 8.downto(1) do |y| %>
      <tr>
        <% 1.upto(8) do |x| %>
          <td data-x="<%= x %>" data-y="<%= y %>"class="square">
            <span><%= display_pieces(@game, x, y) %></span>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <p class="boardTopBottom"></p>
</div>
<div class="container">
  <%= link_to "Join", game_enrollments_path(@game), method: :post, class: 'btn btn-primary' %>
</div>