<h1>games#show page</h1>
<h2 class="text-center"><%= @white_player.email %> vs <%= @black_player.email %></h2>
<div class="booyah-box col-xs-10 col-xs-offset-1">
  <p class="boardTopBottom"></p>
  <table>
    <% 8.downto(1) do |y| %>
      <tr>
        <% 8.times do |x| %>
          <td class="square"></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <p class="boardTopBottom"></p>
</div>
<div class="container">
  <% if current_game.black_player_id.nil? && current_game.white_player_id != current_user.id %>
    <%= link_to "Join", game_path(current_game), method: :patch, class: 'btn btn-primary' %>
  <% end %>
</div>