$square-size: 70px;
$rank-file-font-size: 1.6em;

.table-surface {
  width: 100%;
  padding: 3em 0;
  background: url('/assets/upfeathers.png');
}

.board-booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 10px 10px 16px 0 #d0d0d0;
  background: url('/assets/wood_pattern.png');
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding-bottom: .1em;
}

/* ---- indicators for rank and file on board edges ------- */
.white-letters {
  color: rgba(255, 255, 255, 0.84);
}

.black-letters {
  color: black;
}

.rank-indicator {
  font-size: $rank-file-font-size;
  text-align: center;
  padding-right: 0.4em;
  text-shadow: rgba(0, 0, 0, 0.45) 0 -1px 0.025em, rgba(255, 255, 255, 0.75) 0 1px 0.025em;
}

.file-indicator {
  font-size: $rank-file-font-size;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.45) 0 -1px 0.025em, rgba(255, 255, 255, 0.75) 0 1px 0.025em;
}

/* --------- optimizations for tablets ----------- */

/* tablet held in portrait */
/*@media (min-width: 760px) and (max-width: 769px) {
  .file-indicator {
    font-size: $rank-file-font-size;
    letter-spacing: 1.18em;
    padding: 2% 0 1% 3%;
  }
}

 tablet held in landscape 
@media (min-width: 775px) and (max-width: 1024px) {
  .file-indicator {
    font-size: $rank-file-font-size;
    letter-spacing: 1.2em;
    padding: 2% 0 1% 3%;
  }
}*/

$square-size-tablet: 60px;
@media (min-width: 768px) and (max-width: 1024px) {
  .square {
    width: $square-size-tablet;
    height: $square-size-tablet;
  }
}

/* ---------  optimizations for cell-phones  ----------- */
$rank-file-font-size-cellphone: 1em;
/* iphone5 held in portrait */
@media (max-width: 329px) {
  .rank-indicator {
    font-size: $rank-file-font-size-cellphone;
  }

  .file-indicator {
    font-size: $rank-file-font-size-cellphone;
  }
}

/* device held in portrait */
@media (min-width: 330px) and (max-width: 759px) {
  .rank-indicator {
    font-size: $rank-file-font-size-cellphone;
  }

  .file-indicator {
    font-size: $rank-file-font-size-cellphone;
  }
}

/* iphone5 held in portrait */
@media (max-width: 321px) {
  .rank-indicator {
    font-size: $rank-file-font-size-cellphone;
  }

  .file-indicator {
    font-size: $rank-file-font-size-cellphone;
  }
}

/* iphone5 held in L A N D S C A P E */
@media (min-width: 549px) and (max-width: 569px) {
  .rank-indicator {
    font-size: $rank-file-font-size-cellphone;
  }

  .file-indicator {
    font-size: $rank-file-font-size-cellphone;
  }
}

/* iPhone 6 and s5 held in portrait */
@media (min-width: 359px) and (max-width: 548px) {
  .rank-indicator {
    font-size: $rank-file-font-size-cellphone;
  }

  .file-indicator {
    font-size: $rank-file-font-size-cellphone;
  }
}

/* iPhone 6 and s5 held in L A N D S C A P E */
@media (min-width: 570px) and (max-width: 679px) {
  .rank-indicator {
    font-size: $rank-file-font-size-cellphone;
  }

  .file-indicator {
    font-size: $rank-file-font-size-cellphone;
  }
}

/* Nexus5x iPhone6+ Nexus6p held in portrait */
@media (min-width: 377px) and (max-width: 436px) {
  .file-indicator {
    font-size: $rank-file-font-size-cellphone;
  }
}

/* Nexus5x iPhone6+ held in L A N D S C A P E */
@media (min-width: 720px) and (max-width: 740px) {
  .file-indicator {
    font-size: $rank-file-font-size-cellphone;
  }
}

@media (min-width: 680px) and (max-width: 719px) {
  .file-indicator {
    font-size: $rank-file-font-size-cellphone;
  }
}


/*  -----------------------------------------------  */

table {
  margin: 0 auto;
}

/*eliminate the border for the table column that has the rank numbers*/
td.rank-indicator {
  border: none;
}

td.squash-me {
  border: none;
}

/*Starting from the top [ row 1 ( *or rank-8 ) ], handle rows 2, 4, 6, and 8 
then take each even column (remember that there is the hidden column for the
rank-indicator cells) and set the dark background */
.board-booyah-box table tr:nth-child(n+2):nth-child(-n+8):nth-child(even) 
                        td:nth-child(n+2):nth-child(-n+9):nth-child(even) {
                          background: url('/assets/med_birdseye_70px.jpg');
}

/* Starting from the top [ row 1 ( *or rank-8 ) ], handle rows 1, 3, 5, and 7 */
.board-booyah-box table tr:nth-child(n+1):nth-child(-n+8):nth-child(odd) 
                        td:nth-child(n+2):nth-child(-n+9):nth-child(odd) {
                          background: url('/assets/med_birdseye_70px.jpg');
}

.square {
  width: $square-size;
  height: $square-size;
  border: solid #000 1px;
}

$square-size-iphone5: 25px;
@media (max-width: 300px) {
  .square {
    width: $square-size-iphone5;
    height: $square-size-iphone5;
  }
}

$square-size-mobile: 30px;
@media (max-width: 760px) {
  .square {
    width: $square-size-mobile;
    height: $square-size-mobile;
  }
}

.board-top {
  margin-top: 1.5em;
}

.hoveredSquare {
  outline: 3px solid rgba(251, 248, 93, 0.7);
  box-shadow: 7px 7px 11px 0 rgba(0, 0, 0, 0.5);
}

.warning {
  /*margin-bottom: 2%;*/
}

.gameMessage {
  font-size: 1.8em;
  color: #B64402;
  text-shadow: 0px 2px 2px rgb(109, 63, 63), 0px 3px 6px #351B03;
}


$gameMessage-iphone5: 1em;
@media (max-width: 760px) {
  .gameMessage { 
    font-size: $gameMessage-iphone5;
  }

  .board-top {
    margin-top: 0em;
  }
}

.blushing-king {
  background: url('/assets/red_king.png');
  background-size: contain;
}

.white-player-turn {
  font-size: 1.4em;
  color: #858383;
  text-transform: capitalize;
}

.black-player-turn {
  font-size: 1.4em;
  color: #3D3D4C;
  text-transform: capitalize;
}


/*--------------------
Chat
--------------------*/
.chat {
  position: absolute;
  top: 33%;
  left: 77%;
/*  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);*/
  width: 300px;
  height: 80vh;
  max-height: 500px;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

/*--------------------
Chat Title
--------------------*/
.chat-title {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 45px;
      -ms-flex: 0 1 45px;
          flex: 0 1 45px;
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding: 10px 10px 10px 50px;
}
.chat-title h1, .chat-title h2 {
  font-weight: normal;
  font-size: 10px;
  margin: 0;
  padding: 0;
}
.chat-title h2 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 8px;
  letter-spacing: 1px;
}
.chat-title .avatar {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 9px;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 0.24);
}
.chat-title .avatar img {
  width: 100%;
  height: auto;
}

/*--------------------
Messages
--------------------*/
.messages {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  position: relative;
  width: 100%;
}
.messages .sent-messages {
  position: absolute;
  top: 0;
  left: 0;
  height: 101%;
  width: 100%;
}
.messages .message {
  clear: both;
  float: left;
  padding: 6px 10px 7px;
  border-radius: 10px 10px 10px 0;
  background: rgba(0, 0, 0, 0.3);
  margin: 8px 0;
  font-size: 11px;
  line-height: 1.4;
  margin-left: 35px;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.messages .message .timestamp {
  position: absolute;
  bottom: -15px;
  font-size: 9px;
  color: rgba(255, 255, 255, 0.3);
}
.messages .message::before {
  content: '';
  position: absolute;
  bottom: -6px;
  border-top: 6px solid rgba(0, 0, 0, 0.3);
  left: 0;
  border-right: 7px solid transparent;
}
.messages .message .avatar {
  position: absolute;
  z-index: 1;
  bottom: -15px;
  left: -35px;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 0.24);
}
.messages .message .avatar img {
  width: 100%;
  height: auto;
}
.messages .message.message-personal {
  float: right;
  color: #fff;
  text-align: right;
  background: -webkit-linear-gradient(330deg, #248A52, #257287);
  background: linear-gradient(120deg, #248A52, #257287);
  border-radius: 10px 10px 0 10px;
}
.messages .message.message-personal::before {
  left: auto;
  right: 0;
  border-right: none;
  border-left: 5px solid transparent;
  border-top: 4px solid #257287;
  bottom: -4px;
}
.messages .message:last-child {
  margin-bottom: 30px;
}
.messages .message.new {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-animation: bounce 500ms linear both;
          animation: bounce 500ms linear both;
}
.messages .message.loading::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-top: 4px;
  -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
          animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  border: none;
  -webkit-animation-delay: .15s;
          animation-delay: .15s;
}
.messages .message.loading span {
  display: block;
  font-size: 0;
  width: 20px;
  height: 10px;
  position: relative;
}
.messages .message.loading span::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-top: 4px;
  -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
          animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  margin-left: -7px;
}
.messages .message.loading span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: '';
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 2;
  margin-top: 4px;
  -webkit-animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
          animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  margin-left: 7px;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

/*--------------------
Message Box
--------------------*/
.message-box {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 40px;
      -ms-flex: 0 1 40px;
          flex: 0 1 40px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  padding: 10px;
  position: relative;
}
.message-box .message-input {
  background: none;
  border: none;
  outline: none !important;
  resize: none;
  color: rgba(255, 255, 255, 0.7);
  font-size: 11px;
  height: 17px;
  margin: 0;
  padding-right: 20px;
  width: 265px;
}
.message-box textarea:focus:-webkit-placeholder {
  color: transparent;
}
.message-box .message-submit {
  position: absolute;
  z-index: 1;
  top: 9px;
  right: 10px;
  color: #fff;
  border: none;
  background: #248A52;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  padding: 6px 10px;
  border-radius: 10px;
  outline: none !important;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
}
.message-box .message-submit:hover {
  background: #1D7745;
}

/*--------------------
Custom Scrollbar
--------------------*/
.scroll-pane {
  width: 100%;
  overflow: auto;
}

.mCSB_scrollTools {
  margin: 1px -3px 1px 0;
  opacity: 0;
}

.mCSB_inside > .mCSB_container {
  margin-right: 0px;
  padding: 0 10px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.5) !important;
}


/*  scrollbar theme: "dark" */

.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #000; background-color: rgba(0,0,0,0.15);
  }

.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { 
    background-color: #000; background-color: rgba(0,0,0,0.75);
  }

.mCS-dark.mCSB_scrollTools .mCSB_dragger:hover { 
  background-color: rgba(0,0,0,0.85);
}

.mCS-dark.mCSB_scrollTools .mCSB_buttonUp {
  background-position: -80px 0;
}

.mCS-dark.mCSB_scrollTools .mCSB_buttonDown {
  background-position: -80px -20px;
}

.mCS-dark.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -80px -40px;
}

.mCS-dark.mCSB_scrollTools .mCSB_buttonRight {
  background-position: -80px -56px;
}

/* ---------------------------------------- */
/* Media Queries for chat window postitioning and size */
/* iphone5 held in portrait */
@media (max-width: 321px) {
  .chat {
    position: absolute;
    top: 80%;
    left: 2%;
    width: 308px;
    max-height: 108px;
  }

  .message-box .message-input {
    resize: none;
    font-size: 11px;
    height: 17px;
    width: 267px;
  }
}

@media (min-width: 322px) and (max-width: 359px) {
  .chat {
    position: absolute;
    top: 78%;
    left: 2%;
    width: 322px;
    max-height: 108px;
  }

  .message-box .message-input {
    resize: none;
    font-size: 11px;
    height: 17px;
    width: 278px;
  }
}

/* ------- Samsung Galaxy S5 held in portrait ------ */
@media (min-width: 360px) and (max-width: 374px) {
  .chat {
    position: absolute;
    top: 76%;
    left: 3%;
    width: 336px;
    max-height: 140px;
  }

  .message-box .message-input {
    resize: none;
    font-size: 11px;
    height: 17px;
    width: 290px;
  }
}

/* ------- iPhone6 held in portrait------ */
@media (min-width: 375px) and (max-width: 410px) {
  .chat {
    position: absolute;
    top: 73%;
    left: 6%;
    width: 328px;
    max-height: 172px;
  }

  .message-box .message-input {
    resize: none;
    font-size: 11px;
    height: 17px;
    width: 290px;
  }
}

/* ------- Nexus5X held in portrait------ */
@media (min-width: 411px) and (max-width: 413px) {
  .chat {
    position: absolute;
    top: 72%;
    left: 3%;
    width: 384px;
    max-height: 172px;
  }

  .message-box .message-input {
    resize: none;
    font-size: 11px;
    height: 17px;
    width: 348px;
  }
}