$square-size: 70px;

.board-booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: url('/assets/wood_pattern.png');
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
}

table {
  margin: 0 auto;
}


table tr:nth-child(odd) td:nth-child(even) {
  background: url('/assets/dark_wood.jpg');
}
table tr:nth-child(even) td:nth-child(odd) {
  background: url('/assets/dark_wood.jpg');
}

.square {
  width: $square-size;
  height: $square-size;
  border: solid #000 1px;
}

$square-size-mobile: 30px;
@media (max-width: 760px) {
  .square {
    width: $square-size-mobile;
    height: $square-size-mobile;
  }
}

$square-size-tablet: 60px;
@media (min-width: 761px) and (max-width: 1024px) {
  .square {
    width: $square-size-tablet;
    height: $square-size-tablet;
  }
}

.boardTopBottom {
  padding: 1em 0
}