// Place all the styles related to the LeaderBoards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container td.leaderboard {
  border: solid 2px;
  padding: 10px;
  background-color: white;
  color: #2b755a;
}

.lb-table {
   width: 100%;
}

.lb-table tr:nth-child(even) td{
  background-color: #e3ebda;
}

.lb-user {
  padding-left: 1em;
}

.lb-wins-losses-heading {
  text-align: center;
  width: 15%;
}

.lb-username {
  font-weight: 800;
}

.wins-losses-column {
  text-align: center;
}

#wins-column {
  color: #000;
}